$bgColor: aquamarine;
$firstFlowerPetal: orangered;
$firstFlowerPetal2: orange;

$secondFlowerPetal: #9e0000;
$secondFlowerPetal2: red;

$thirdFlowerPetal: purple;
$thirdFlowerPetal2: #ff00ff;

$textColor: #fff;
