@use "index" as *;
* {
  padding: 0;
  margin: 0;
}

body {
  @include perfectCenter;
  margin: 0;
  padding: 0;
  height: 100vh;
  flex-wrap: wrap;
  background-color: $bgColor;
  position: relative;
}

.container {
  @include perfectCenter;
  min-width: 500px;
  height: 500px;
  background: transparent;
  overflow: hidden;

  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    #519f44 20%,
    #a0cc44,
    #b7d54a,
    #88c741,
    #c4db5f
  );
  z-index: -1;
}

.text {
  position: absolute;
  top: 25vh;
  font-size: $lgText;
  color: $textColor;
  text-transform: uppercase;
  animation: fadein 5s linear;
  span {
    display: inline-block;
    padding: 0 0.5vw 0 0.5vw;
    animation: textflip 2s linear 8s;
  }
  span:nth-child(2) {
    animation-delay: 8.3s;
  }
  span:nth-child(3) {
    animation-delay: 8.6s;
  }
  span:nth-child(4) {
    animation-delay: 8.9s;
  }
  span:nth-child(5) {
    animation-delay: 9.2s;
  }
  span:nth-child(6) {
    animation-delay: 9.5s;
  }
  span:nth-child(7) {
    animation-delay: 9.8s;
  }
  span:nth-child(8) {
    animation-delay: 10.1s;
  }
  span:nth-child(9) {
    animation-delay: 10.4s;
  }
}

.sun {
  width: 70px;
  height: 70px;
  top: 50px;
  left: 100px;
  position: absolute;
  background: radial-gradient(circle, rgb(255, 193, 78) 25%, yellow 80%);
  border-radius: 50px;

  animation: sunrise 5s ease forwards;
}

.flower_1 {
  position: absolute;
  right: 15vw;
  bottom: 10%;

  &__stem {
    position: absolute;
    background: linear-gradient(to right, green, lime);
    height: 70vh;
    width: 10px;
    bottom: 0;
    animation: grow 5s ease-out;
  }
  &__center {
    position: absolute;
    bottom: 70vh;
    left: 0.5vw;
    animation: center_grow 8s ease-out;
  }
  &__leaf {
    position: absolute;
    width: 40px;
    height: 40px;
    border-bottom-left-radius: 56%;
    border-bottom-right-radius: 140%;
    border-top-left-radius: 129%;
    bottom: 35vh;
    background: linear-gradient(to right, #006400, lime);
    animation: sprout 8s linear;
  }
  &__blossom {
    background: radial-gradient(circle, blue 10%, violet 55%);
    border-radius: 100%;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 68vh;
    left: -6px;
    z-index: 10;
    animation: center_grow 8s ease-out;
  }
  &__petal_1 {
    @include petal($firstFlowerPetal, $firstFlowerPetal2, 0);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_2 {
    @include petal($firstFlowerPetal, $firstFlowerPetal2, 60);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_3 {
    @include petal($firstFlowerPetal, $firstFlowerPetal2, 120);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_4 {
    @include petal($firstFlowerPetal, $firstFlowerPetal2, 180);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_5 {
    @include petal($firstFlowerPetal, $firstFlowerPetal2, 240);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_6 {
    @include petal($firstFlowerPetal, $firstFlowerPetal2, 300);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
}
.flower_2 {
  position: absolute;
  right: 50vw;
  bottom: 0;

  &__stem {
    position: absolute;
    background: linear-gradient(to right, green, lime);
    height: 40vh;
    width: 10px;
    bottom: 0;
    animation: grow 5s ease-out;
  }
  &__center {
    position: absolute;
    bottom: 40vh;
    left: 0.5vw;
    animation: center_grow 8s ease-out;
  }
  &__leaf {
    position: absolute;
    width: 40px;
    height: 40px;
    border-bottom-left-radius: 56%;
    border-bottom-right-radius: 140%;
    border-top-left-radius: 129%;
    bottom: 10vh;
    background: linear-gradient(260deg, lime, darkgreen);
    animation: sprout 8s linear;
  }
  &__blossom {
    background: radial-gradient(circle, blue 10%, violet 55%);
    border-radius: 100%;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 38vh;
    left: -6px;
    z-index: 10;
    animation: center_grow 8s ease-out;
  }
  &__petal_1 {
    @include petal($secondFlowerPetal, $secondFlowerPetal2, 0);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_2 {
    @include petal($secondFlowerPetal, $secondFlowerPetal2, 60);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_3 {
    @include petal($secondFlowerPetal, $secondFlowerPetal2, 120);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_4 {
    @include petal($secondFlowerPetal, $secondFlowerPetal2, 180);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_5 {
    @include petal($secondFlowerPetal, $secondFlowerPetal2, 240);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_6 {
    @include petal($secondFlowerPetal, $secondFlowerPetal2, 300);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
}
.flower_3 {
  position: absolute;
  left: 20vw;
  bottom: 5%;

  &__stem {
    position: absolute;
    background: linear-gradient(to right, green, lime);
    height: 45vh;
    width: 10px;
    bottom: 0;
    animation: grow 5s ease-out;
  }
  &__center {
    position: absolute;
    bottom: 45vh;
    left: 0.5vw;
    animation: center_grow 8s ease-out;
    // animation-name: waving;
    // animation-duration: 5s;
    // animation-iteration-count: infinite;
  }
  &__leaf {
    position: absolute;
    width: 40px;
    height: 40px;
    border-bottom-left-radius: 56%;
    border-bottom-right-radius: 140%;
    border-top-left-radius: 129%;
    bottom: 15vh;
    background: linear-gradient(260deg, lime, darkgreen);
    animation: sprout 8s linear;
  }
  &__blossom {
    background: radial-gradient(circle, blue 10%, violet 55%);
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 43vh;
    left: -6px;
    z-index: 10;
    animation: center_grow 8s ease-out;
  }
  &__petal_1 {
    @include petal($thirdFlowerPetal, $thirdFlowerPetal2, 0);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_2 {
    @include petal($thirdFlowerPetal, $thirdFlowerPetal2, 60);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_3 {
    @include petal($thirdFlowerPetal, $thirdFlowerPetal2, 120);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_4 {
    @include petal($thirdFlowerPetal, $thirdFlowerPetal2, 180);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_5 {
    @include petal($thirdFlowerPetal, $thirdFlowerPetal2, 240);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
  &__petal_6 {
    @include petal($thirdFlowerPetal, $thirdFlowerPetal2, 300);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
  }
}

@keyframes grow {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
}
@keyframes center_grow {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(0);
  }
}
@keyframes sprout {
  0% {
    transform: scale(0);
    transform-origin: 0 50%;
  }
  50% {
    transform: scale(0);
    transform-origin: 0 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 0 50%;
  }
}

@keyframes textflip {
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes sunrise {
  0% {
    left: -100px;
    top: 400px;
  }
  100% {
    top: 50px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    color: $bgColor;
  }
  100% {
    opacity: 1;
  }
}

// @keyframes waving {
//   0% {
//     transform: rotate(-5deg);
//   }
//   25% {
//     transform: rotate(5deg);
//   }
//   50% {
//     transform: rotate(-5deg);
//   }
//   75% {
//     transform: rotate(5deg);
//   }
//   100% {
//     transform: rotate(-5deg);
//   }
// }
